:root {
  --paragraph-text-color: #757575;
  --title-text-color: #212121;
  --filter-btn-color: #212121;
  --filter-btn-bg: #f5f4fa;
  --aсcent-color: #2196f3;
  --logo-white-color: #ffffff;
  --logo-blue-color: #2196f3;
  --logo-black-color: #000000;
  --btn-white-color: #ffffff;
  --hero-bg-color: #2f303a;
  --bg-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-contacts-map: #ffffff;
  --header-contact-color: #757575;
  --hero-title-color: #ffffff;
  --footer-bg-color: #2f303a;
  --hero-team-bg-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.list,
.link,
.logo {
  list-style: none;
  text-decoration: none;
}
/* -----------------HEADER------------- */

.header {
  background-color: var(--bg-color);
}

.header-logo {
  color: var(--logo-black-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-half {
  color: var(--logo-blue-color);
}

/* .active {
  color: var(--aсcent-color);
} */

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  cursor: pointer;
}

.active,
.header-link:hover,
.header-link:focus {
  color: var(--aсcent-color);
}

.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
}

.footer-contacts-map:hover,
.footer-contacts-map:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--aсcent-color);
}
/* ----------------HERO---------------- */

.hero {
  background: var(--hero-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-white-color);
  background: var(--aсcent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero-text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.hero-text-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.hero-team {
  background: var(--hero-team-bg-color);
}

.hero-example-title,
.hero-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.hero-team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.hero-team-text {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

/* ----------------FOOTER--------------- */

.footer {
  background: var(--footer-bg-color);
}

.footer-logo {
  color: var(--logo-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-contacts {
  font-family: inherit;
  font-style: normal;
}

.footer-contacts-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-map);
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/* ----------------PORTFOLIO--------------- */

.filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--filter-btn-color);
  background: var(--filter-btn-bg);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-white-color);
  background: var(--aсcent-color);
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
